[submodule "Submodules/AMReX"]
	path = Submodules/AMReX
	url = git@github.com:AMReX-Codes/amrex.git
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = git@github.com:AMReX-Combustion/PelePhysics.git
[submodule "Submodules/PeleC-MP"]
	path = Submodules/PeleC-MP
	url = git@github.com:AMReX-Combustion/PeleC-MP.git
[submodule "Submodules/sundials"]
	path = Submodules/sundials
	url = git@github.com:LLNL/sundials.git
[submodule "Submodules/GoogleTest"]
	path = Submodules/GoogleTest
	url = git@github.com:google/googletest.git
